.table {
    text-align: center !important;
    border: 0px solid black !important;
    border-collapse: collapse !important;
    width:100% !important;
 }
 .test{
   overflow-x: hidden;
   overflow-y: auto;
   height: 530px;
}
 .test thead th {
   position: sticky;
   top: 0;
   z-index: 1;
 }

 td,tr {
   text-align: center;
   border: 0px solid black;
   background-color: white;
   border: 1px solid rgb(255, 102, 0);
 }

 th {
   background-color: rgb(255, 102, 0) !important;
   border: 1px solid rgb(255, 102, 0) !important;
   color: white;
 }

 .edit_button{
    padding: 10px !important;
    border: none !important;
    border-radius: 3px !important;
    background: transparent !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
    color: rgb(123, 123, 30) !important;
    cursor: pointer !important;
    opacity: 1 !important;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
 }  

 .add_button{
    border: none !important;
    border-radius: 3px !important;
    background: transparent !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
    color: #E37F00 !important;
    cursor: pointer !important;
    font-size: 20px !important;
    opacity: 1 !important;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
    position: absolute !important;
    left: 88% !important;
    top: 20% !important;
 } 

 .delete_button{
    padding: 10px !important;
    border: none !important;
    border-radius: 3px !important;
    background: transparent !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
    color: red !important;
    cursor: pointer !important;
    opacity: 1 !important;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
 }  

 .page_input{
    text-align: center;
    width: 30px !important;
    left: 11% !important;
    border: none !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
    box-sizing: border-box !important;
    background: transparent !important;
    font-size: 1rem !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    opacity: 1 !important;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
    transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1) !important;  
 }

 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


 .change_button{
    position:relative !important;
    border: none !important;
    background: transparent !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
    color: black !important;
    cursor: pointer !important;
    opacity: 1 !important;
 } 
 .page_noti{
    position:sticky !important;
    font-weight: bold !important;
 } 

 .page_form{
    box-sizing: border-box !important;
    display:inline-block !important;
 }
 
 .table_container{
   padding: 5px 20px 5px 20px !important;
   border-radius: 20px;
   /* background-color: #E37F00; */
 }
 .change_page{
    position: absolute;
    z-index: 1;
    left: 1%;
    top: 20%;
 }
 .title{
   color: rgb(255, 102, 0);
   padding-left: 750px;
 }

 .not_login{   
    text-align: center;
 }

 .search_input{
   text-align: center;
   min-width:50px!important;
   max-width:90px!important;
   left: 11% !important;
   border: none !important;
   /* border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important; */
   box-sizing: border-box !important;
   background: transparent !important;
   font-size: 1rem !important;
   font-family: 'Roboto', sans-serif !important;
   font-weight: 500 !important;
   opacity: 1 !important;
   animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
   transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1) !important;  
}

.search_button{
   border: none !important;
   border-radius: 3px !important;
   background: transparent !important;
   font-family: 'Roboto', sans-serif !important;
   font-size: 0.9rem !important;
   font-weight: bold !important;
   color: #E37F00 !important;
   cursor: pointer !important;
   font-size: 20px !important;
   opacity: 1 !important;
   animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
   position: absolute !important;
   left: 46% !important;
   top: 20% !important;
} 

.show_button{
   border: none !important;
   border-radius: 3px !important;
   background: transparent !important;
   font-family: 'Roboto', sans-serif !important;
   font-size: 0.9rem !important;
   font-weight: bold !important;
   color: #E37F00 !important;
   cursor: pointer !important;
   font-size: 20px !important;
   opacity: 1 !important;
   animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
   position: absolute !important;
   left: 45% !important;
   top: 20% !important;
} 


 