.table {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    width : 100%;
 }
 td,th,tr {
    text-align: center;
    border: 1px solid black;
 }
 th {
     background-color: rgba(162, 162, 162, 0.956);
 }
 .edit_button{
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(123, 123, 30);
    cursor: pointer;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
 }  

 .add_button{
    border: none;
    border-radius: 3px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: #E37F00;
    cursor: pointer;
    font-size: 20px;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
    position: absolute;
    left: 90%;
    top: 25%;
 } 

 .delete_button{
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: red;
    cursor: pointer;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
 }  

 .page_input{
    width: 50px;
    left: 11%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: transparent;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
    transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
 }

 .change_button{
    position:relative;
    border: none;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    opacity: 1;
 } 
 .page_noti{
    position:sticky;
    font-weight: bold;
 } 

 .page_form{
    box-sizing: border-box;
    display:inline-block;
 }