.login_container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    position: relative !important;
    width: 340px !important;
    height: auto !important;
    padding: 5px !important;
    box-sizing: border-box !important;
    position: absolute !important;
    left: 20% !important;
    top: 10% !important;
    width: 1000px !important;
    
  }
  
  .logins {
    position: relative !important;
    width: 100% !important;
    padding: 10px !important;
    margin: 0 0 10px 0 !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
    background: #FAFAFA !important;
    overflow: hidden !important;
    animation: input_opacity 0.2s cubic-bezier(.55, 0, .1, 1) !important;
    border-radius: 12px !important;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.426) !important;
  }
  
  .logins > header {
    position: relative !important;
    width: 100% !important;
    padding: 10px !important;
    margin: -10px -10px 25px -10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    background: rgb(255, 102, 0) !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.3rem !important;
    color: #FAFAFA !important;
    animation: scale_header 0.6s cubic-bezier(.55, 0, .1, 1), text_opacity 1s cubic-bezier(.55, 0, .1, 1) !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12),
                0px 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  }
  
  .logins > header:before {
    content: '' !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    width: 100% !important;
    height: 5px !important;
    padding: 10px !important;
    margin: -10px 0 0 -10px !important;
    box-sizing: border-box !important;
    background: rgba(0, 0, 0, 0.156) !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    color: transparent !important;
    z-index: 5 !important;
  }
  
  .login_input {
    position: sticky !important;
    width: 70% !important;
    left: 21% !important;
    padding: 10px 5px 0px 0px !important;
    margin: 0 0 25px 0px !important;
    border: none !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
    box-sizing: border-box !important;
    background: transparent !important;
    font-size: 1rem !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    opacity: 1 !important;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
    transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1) !important;
  }
  .login_label{
    display:inline-block;
    width: 150px !important;
    height: min-content;
    font-weight:bold !important;
    padding-top: 10px;
    /* background-color: aqua; */
    text-align: left;
    text-align: bottom;
  }
  
  .login_button{
    padding: 10px !important;
    border: none !important;
    border-radius: 3px !important;
    background: transparent !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
    color: #E37F00 !important;
    cursor: pointer !important;
    opacity: 1 !important;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
  }
  
  .login_form {
    padding: 15px !important;
    box-sizing: border-box !important;
  }

  .register_button{
    padding: 10px !important;
    border: none !important;
    border-radius: 3px !important;
    background: transparent !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
    color: #E37F00 !important;
    cursor: pointer !important;
    opacity: 1 !important;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
  }

  
  .register_noti{
    padding: 10px !important;
    border: none !important;
    border-radius: 3px !important;
    background: transparent !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    color: black !important;
    cursor: pointer !important;
    opacity: 1 !important;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1) !important;
  }

  