.header {
    color: white !important;
    text-decoration: none !important;
    opacity: 1 !important;
}

.login {
    color: white !important;
    opacity: 1 !important;
}


.box {
    display: inline-flex !important;
    height: 30px !important;
    position: absolute !important;
    top: -15px !important;
    left: 30px !important;
}

.info{
    position: absolute !important;
    display: inline-flex !important;
    opacity: 1 !important;
    text-align: center !important;
    color: white !important;
    left: 87% !important;
    top: 3px !important;
    font-size: 20px !important;
}

.logout{
    position: absolute !important;
    display: inline-flex !important;
    opacity: 1 !important;
    text-align: center !important;
    color: white !important;
    left: 95% !important;
    top: 6px !important;
    font-size: 17px !important;
}

.parent{
    position: relative !important;
    background-color: rgb(255, 102, 0) !important;
    height: 60px !important;
}

.uinfo{
    color: white !important;
    height: 30px !important;
}
