<h1>Home Page</h1>
{% csrf_token %}

<p>{{notice}}</p>

{%if request.user.is_authenticated %}
<form action="/home/logout/" style="display: inline-block">
    <input type="submit" value="LogOut" />
</form>
{%if group == KTHT %}
<form style="display: inline-block">
    <input type="submit" value="Add" />
</form>
<form style="display: inline-block">
    <input type="submit" value="Update" />
</form>
<form style="display: inline-block">
    <input type="submit" value="Delete" />
</form>
{% endif %}
{% else %}
<form action="/home/login/">
    <input type="submit" value="login" />
</form>
{% endif %}
