<form action= "{% url 'miniProject:registerSubmit' %}" method="post">
    {% csrf_token %}
    <h1>Register</h1>
    
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <br><br>
    <label for="email">Email: </label>
    <input id="email" type="text" name="email" value="{{ email }}">
    <br><br>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" value="{{ password }}">
    <input type="submit" value="Register">

</form>

<form action="/home/login/">
    <input type="submit" value="Login" />
</form>
